{
  "plugins": [
    "react"
  ]
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
    "single"
    ],
    "linebreak-style": [
      2,
    "unix"
    ],
    "semi": [
      2,
    "always"
    ],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true,
    }],
    "no-unused-vars": [1, {
      "vars": "all",
      "args" : "after-used",
    }],
    "no-console": 0,
    "react/jsx-uses-vars": 1
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "extends": "eslint:recommended"
}
