.config/fish/fish_history
.config/fish/fishd.60f81dd16330
.config/javascripting
.config/learnyounode
.config/workshopper
.config/chrome-nfs
.config/how-to-npm-jp/
.config/stream-adventure/
.config/configstore/

*.swp
*.swo
